.draw-closed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.draw-closed-container h1 {
    margin-bottom: 10px;
}

.draw-closed-container p {
    margin: 0;
}

.draw-open-container {
    text-align: center;
}

.draw-closed-container .emoji {
    margin: 10px 0;
    font-size: 85px;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

#guess-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
    margin: 0 auto;
}

.guess-button {
    flex: 0 0 calc((100% - 90px) / 10);

    box-sizing: border-box;
    width: 90px;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
}

.guess-button.reserved-other {
    background-color: red;
}

.guess-button.open {
    background-color: yellow;
}

.guess-button.reserved-me {
    background-color: greenyellow;
}

dialog {
    text-align: center;
}

dialog .emoji {
    font-size: 40px;
}

.modal-winning-number {
    font-size: 24px;
}

/* Admin */
.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 100px;
}

.admin-buttons {
    display: flex;
    gap: 20px;
}

.admin-buttons button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

#admin-info {
    font-weight: bold;
    margin-top: 10px;
}