.draw-closed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.draw-closed-container h1 {
    margin-bottom: 10px;
}

.draw-closed-container p {
    margin: 0;
}

.draw-open-container {
    text-align: center;
}

.draw-closed-container .emoji {
    margin: 10px 0;
    font-size: 85px;
}

.button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

#guess-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
    margin: 0 auto;
}

.guess-button {
    flex: 0 0 calc((100% - 90px) / 10);

    box-sizing: border-box;
    width: 90px;
    padding: 15px 0;
    font-weight: bold;
    font-size: 35px;
}

.guess-button.reserved-other {
    background-color: #E57373;
}

.guess-button.open {
    background-color: #FFD54F;
}

.guess-button.reserved-me {
    background-color: #81C784;
}

dialog {
    text-align: center;
}

dialog .emoji {
    font-size: 40px;
}

.modal-winning-number {
    font-size: 24px;
}

/* Admin */
.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 100px;
}

.admin-buttons {
    display: flex;
    gap: 20px;
}

.admin-buttons button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

#admin-info {
    font-weight: bold;
    margin-top: 10px;
}

/* Accessibility */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.colorblind-mode .guess-button.reserved-other {
    background-color: #E57373;
    background-image:
    repeating-linear-gradient(45deg,
    transparent,
    transparent 8px,
    rgba(0, 0, 0, 0.2) 8px,
    rgba(0, 0, 0, 0.2) 10px),
    repeating-linear-gradient(135deg,
    transparent,
    transparent 8px,
    rgba(0, 0, 0, 0.2) 8px,
    rgba(0, 0, 0, 0.2) 10px);
    cursor: not-allowed;
}

.colorblind-mode .guess-button.open {
    background-color: #FFD54F;
    background-image: repeating-linear-gradient(0deg,
    transparent,
    transparent 8px,
    rgba(0, 0, 0, 0.2) 8px,
    rgba(0, 0, 0, 0.2) 10px);
}

.colorblind-mode .guess-button.reserved-me {
    background-color: #81C784;
    background-image: repeating-linear-gradient(45deg,
    transparent,
    transparent 8px,
    rgba(0, 0, 0, 0.2) 8px,
    rgba(0, 0, 0, 0.2) 11px);
}